@model Game.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trope)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FightingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FightingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brawn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brawn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spirit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spirit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finesse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finesse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
